body{
  box-sizing: border-box;
  margin: 0;
  padding: 0.3rem;
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5px;
    &.btn button{
      border-radius: 20px;
      margin-left: 5px;
      width: 150px;
    }
    #play-button {
      background-color: #81ebe4;
      padding: 0.5rem 1rem;
      cursor: pointer;
      font-size: 1.3rem;
    }
    #pause-button {
      background-color: #81ebe4;
      padding: 0.5rem 1rem;
      cursor: pointer;
      font-size: 1.3rem;
    }
  }
}


.score{
  background-color: darksalmon;
  position: relative;
  top: 20px;
  left: 30px;
  height: 200px;
}

